- var theme = "main"

- var background = "rgba(34, 34, 34, 1)"

- var fontPrimary = "'Helvetica', sans-serif"
- var fontSecondary = "'Lucida Grande', sans-serif"

- var colorPrimary = theme = "main" ? "rgba(238, 238, 238, 1)" : "rgba(20, 39, 78, 1)"
- var colorSecondary = theme ="rgba(252, 218, 183, 1)"
- var colorTertiary = "rgba(50, 130, 184, 1)"

- var subscribeHref = "//cdn.forms-content.sg-form.com/b5a15d41-508c-11eb-b248-ea422c4fb1a2"

- var date = "May 26, 2021"
- var intro = "this is my intro"
- var content = [{title: "title 1", content: "<p>hi</p>", sources: [{ title: "source 1", href: "href 1"}] },{title: "title 2", content: "<p>hi</p>", sources: [{ title: "source 2", href: "href 2"}]}]

- var bio = "bio"
- var appeal = "appeal"
- var disclaimer = "disclaimer"


html
  head
  body(style={"padding": "0px"})
    table(style={"width": "100%"})
      tr
        td
        td(style={
          "width": "500px",
          "max-width": "500px",
          "background": background,
        })
          table(style={
              "width": "100%",
              "padding": "15px",
              "font-family": fontPrimary,
              "font-size": "14px",
              "font-weight": "300",
              "text-align": "justify",
              "color": colorPrimary
            })
            tr: td(style={"padding": "15px"})
            tr(style={"text-align": "center", "color": colorSecondary})
              td
                strong(style={
                  "font-size": "28px",
                  "font-family": fontSecondary
                }) The Yohanan Letter
                br
                span Legal News for Investors and Entrepreneurs
                br
                em(style={"font-size": "12px"}) No Ads. No Fees. No Bullshit.
            tr: td(style={"padding": "15px"})
            tr
              td
                p(style={"text-align": "right"})
                  span New York City
                  br
                  span #{date}
                p(style={"text-align": "left"})
                  span Good morning,
            tr: td !{intro}
            tr: td(style={"padding": "15px"})      
            each post in content
              tr: td
                button(style={
                  "padding": "2px 6px",
                  "border": "none",
                  "border-radius": "2em",
                  "background": colorSecondary,
                  "font-size": "18px",
                  "font-weight": "700",
                  "color": background
                }) #{post.title}
                div !{post.content}
                strong More knowledge:
                each source in post.sources
                  p: a(
                    href=source.href
                    style={"color": colorTertiary, "font-weight": "700"}
                  ) #{source.title}
              tr: td(style={"padding": "15px"})
            tr: td(style={"padding": "20px"})
            tr
              td
                p: em #{bio}
                p: span #{appeal}
            tr: td(style={"padding": "30px"})
            tr
              td(style={"text-align": "center"})
                a(
                  href=subscribeHref
                  target="_blank"
                ): button(style={
                  "padding": "10px 20px",
                  "background-color": "rgba(252, 218, 183, 1)",
                  "border-radius": "2em",
                  "border": "none",
                  "font-size": "18px",
                  "font-family": fontSecondary,
                  "font-weight": "700",
                  "color": background,
                  "cursor": "pointer"
                }) Subscribe
            tr: td(style={"padding": "30px"})
            tr: td: strong(style={
              "font-size": "10px",
              "line-height": "1",
              "color": "rgba(192, 39, 57, 1)"
            }) #{disclaimer}
        td
    table(style={"width": "100%"})
      tr(style={
        "font-family": fontPrimary,
        "font-size": "10px"
      })
        td(style={"text-align": "center"})
          a(
            href="{{{unsubscribe}}}"
            target="_blank"
            style={"color": "rgba(147, 147, 147, 1)"}
          ) Unsubscribe
