html
  head
  body(style={"padding": "0px"})
    table(style={"width": "100%"})
      tr
        td
        td(style={
          "width": "500px",
          "max-width": "500px",
          "background": styles.background,
        })
          table(style={
              "width": "100%",
              "padding": "15px",
              "font-family": styles.fontPrimary,
              "font-size": "14px",
              "font-weight": "300",
              "text-align": "justify",
              "color": styles.colorPrimary
            })
            tr: td(style={"padding": "15px"})
            tr(style={"text-align": "center", "color": styles.colorSecondary})
              td
                strong(style={
                  "font-size": "28px",
                  "font-family": styles.fontSecondary
                }) The Yohanan Letter
                br
                span Legal News for Investors and Entrepreneurs
                br
                em(style={"font-size": "12px"}) No Ads. No Fees. No Bullshit.
            tr: td(style={"padding": "15px"})
            tr
              td
                p(style={"text-align": "right"})
                  span New York City
                  br
                  span #{letter.date}
                p(style={"text-align": "left"})
                  span Good morning,
            tr: td !{letter.intro}
            tr: td(style={"padding": "15px"})      
            each post in letter.posts
              tr: td
                button(style={
                  "padding": "2px 6px",
                  "border": "none",
                  "border-radius": "2em",
                  "background": styles.colorSecondary,
                  "font-size": "18px",
                  "font-weight": "700",
                  "color": styles.background
                }) #{post.title}
                div !{post.text}
                strong More knowledge:
                each source in post.sources
                  p: a(
                    href=source.href
                    style={"color": styles.colorTertiary, "font-weight": "700"}
                  ) #{source.title}
              tr: td(style={"padding": "15px"})
            tr: td(style={"padding": "20px"})
            tr
              td
                p: em #{text.bio}
                p: span #{text.appeal}
            tr: td(style={"padding": "30px"})
            tr
              td(style={"text-align": "center"})
                a(
                  href="//cdn.forms-content.sg-form.com/b5a15d41-508c-11eb-b248-ea422c4fb1a2"
                  target="_blank"
                ): button(style={
                  "padding": "10px 20px",
                  "background-color": styles.colorSecondary,
                  "border-radius": "2em",
                  "border": "none",
                  "font-size": "18px",
                  "font-family": styles.fontSecondary,
                  "font-weight": "700",
                  "color": styles.background,
                  "cursor": "pointer"
                }) Subscribe
            tr: td(style={"padding": "30px"})
            tr: td: strong(style={
              "font-size": "10px",
              "line-height": "1",
              "color": "rgba(192, 39, 57, 1)"
            }) #{text.disclaimer}
        td
    table(style={"width": "100%"})
      tr(style={
        "font-family": styles.fontPrimary,
        "font-size": "10px"
      })
        td(style={"text-align": "center"})
          a(
            href="{{{unsubscribe}}}"
            target="_blank"
            style={"color": "rgba(147, 147, 147, 1)"}
          ) Unsubscribe
